.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  &__labelText {
    font-size: 25px;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__searchName {
    margin: 10px 0px;
    border: none;
    width: 200px;
    height: 30px;
    font-family: inherit;
    padding-left: 5px;
  }

  &__searchSpecies {
    margin: 10px 0px;
    font-family: inherit;
    font-size: 20px;
    width: 100px;
    height: 30px;
    background-color: #53abee;
    color: white;
  }
}
