.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 60px;

  &__imageLogo {
    width: 400px;
  }

  &__title {
    font-size: 35px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 50px;
    }
  }
}
