body {
  font-family: "Creepster", cursive;
  height: 100vh;
  position: relative;
  background-color: black;
  color: white;
}

.main {
  min-height: 100%;
  width: 100%;
  position: relative;
}
