//Puedes usar partials e imports de Sass, variables, anidaciones, mixins, funciones

body {
  font-family: "Creepster", cursive;
  height: 100vh;
  position: relative;
  background-color: black;
  color: white;
}

//font-family: 'Gemunu Libre', sans-serif;
.main {
  min-height: 100%;
  width: 100%;
  position: relative;
}
